<div class="row">


  <div class="col-md-4">
    <h3>Seleccione archivos</h3>
    <div appNgDropFiles 
      [archivos]="archivos"
      (mouseSobre)="estaSobreDrop = $event" 
      [ngClass]=" { 'file-over': estaSobreDrop }" 
      class="well drop-zone file-over">
        <h4>Arrastre y suelte sus archivos</h4>
        <img src="assets/drop-images.png" >
    </div>
  </div>


  <div class="col-md-8">
    <h4>Cargar archivos</h4>
    <button (click)="cargarImg()" [disabled]="archivos.length === 0" class="btn btn-success">Cargar a firebase</button>
    <button (click)="limpiarArchivos()" class="btn btn-danger">Limpiar</button>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Nombre archivo</th>
          <th>Tamaño</th>
          <th>Progreso</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let archivo of archivos">
          <th [ngClass]="{'text-green' : archivo.progreso >=100 }">{{archivo.nombreArchivo}}</th>
          <th>{{archivo.archivo.size / 1024 / 1024 | number: '1.2'}} MB</th>
          <th>
            <div class="progress">
              <div class="progress-bar" role="progressbar" 
                  [ngStyle]="{ 'width': archivo.progreso + '%'}" ></div>
            </div>
          </th>
        </tr>
      </tbody>
    </table>

  </div>


</div>